<div class="navigation">
  <div class="navigation__topbar">
    Безплатна доставка във Варна за поръчки над 10 EUR
  </div>

  <header class="navigation__main">
    <a routerLink="/" class="navigation__brand-link">
      <div class="navigation__brand">
        <span class="navigation__logo">🍕</span>
        <div class="navigation__brand-group">
          <span class="navigation__title">Pizza Bellissima</span>
        </div>
      </div>
    </a>
    <a routerLink="/catalog" class="navigation__menu-link">Нашето меню</a>

    <div class="navigation__side">
      <ng-container *ngIf="isAuthenticated$ | async">
        <div class="navigation__optional-link">
          <a routerLink="/orders">{{ (isAdmin$ | async) ? 'Дневни поръчки' : 'Моите поръчки' }}</a>
        </div>
      </ng-container>

      <div class="navigation__user-block">
        <ng-container *ngIf="currentUser$ | async as user; else guestActions">
          <span class="navigation__greeting">Здравей, {{ user.firstName || user.username }}</span>
          <button class="navigation__logout" type="button" (click)="logout()">Изход</button>
        </ng-container>
        <ng-template #guestActions>
          <a routerLink="/login" class="navigation__link-secondary">Вход</a>
          <a routerLink="/register" class="navigation__link-secondary">Регистрация</a>
        </ng-template>
      </div>

      <button class="navigation__cart" type="button" (click)="openCart()">
        🛒 <span>{{ cartCount$ | async }}</span>
      </button>
    </div>
  </header>
</div>
